.App {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

.fonNavBar {
  background-color: #7F00FF;
}

.navBar {
  width: 100%;
  height: 80px;
  padding-top: inherit;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, rgba(255, 184, 0, 1), rgba(208, 116, 94, 1), rgba(191, 92, 128, 1), rgba(127, 0, 255, 1));
}

.mainLabel {
  position: relative;
  height: 40px;
  width: 217px;
  overflow: hidden;
  float: left;
  margin-top: 2px;
  margin-right: 50px;
  z-index: 100;

  background-size: 217px 40px
}

.navBar>a {
  position: relative;
  overflow: hidden;
  float: left;
  margin-top: 2px;
  margin-right: 50px;
  height: 40px;
  width: 217px;
  /* background: url('../../../public/Union.png'); */
}

.headNav {
  font-family: Montserrat;
  padding: 20px;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2px;
  font-size: 20px;
  text-decoration: none;
}

.headNav>li {
  display: inline-flex;
  margin-left: 20px;

}

.headNav>li>a {
  text-transform: capitalize;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;

  text-decoration: none;
  color: rgb(0, 0, 0);
}

.mainPage {
  width: 100%;
  height: 1024px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  background-color: rgba(127, 0, 255, 1)
}

.yellowBall {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  width: 100%;
  height: 1025px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  background: no-repeat url('../../../public/PIC\ yellow.png');
}

.iSearch {
  box-sizing: border-box;

  position: absolute;
  width: 800px;
  height: 297.11px;
  left: 154px;
  top: 103.66px;
  background: no-repeat url('../../../public/PIC\ ищу.png');
}

.ballon {
  /* position: absolute; */
  width: 50%;
  height: 658px;
  margin-left: 500px;
  margin-top: 280px;
  background: no-repeat url('../../../public/PIC\ hand.png');
}

.box {
  /* margin-right: 750px; */
  display: flex;
  width: 50%;
  margin-left: 100px;
}

.button-home {
  margin-top: 450px;
  margin-left: 20px;
  border-radius: 4px;
  font-weight: bold;
  height: 100px;
  width: 328px;
  background-color: black;
}

.button-home>a {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  color: white;
}

.footer {
  width: 100%;
  height: 80px;
  padding-bottom: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  background-color: rgba(255, 184, 0, 1);
}

.logofooter {
  width: 171px;
  height: 27px;
  margin-top: 35px;
  position: relative;
  background: no-repeat url('../../../public/txt.png');
}

.fon {
  width: 100%;
  height: 1000px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  background: no-repeat rgba(34, 34, 34, 1);
}

.formAuth {
  width: 443px;
  height: 808px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  background: rgba(34, 34, 34, 1);
  ;
}

.formAuth>h1 {
  text-align: center;
  font-family: 'Montserrat';
  font-size: 40px;
  color: rgba(179, 179, 179, 1);

}

.input {
  width: 442px;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 30px;
  margin-top: 30px;
  color: rgba(179, 179, 179, 1);
  background: black;
}

.container {
  height: 3em;
  line-height: 3em;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 25px;
  margin-top: 5px;
  color: white;
}

.regButton {
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 20px;
  width: 328px;
  height: 60px;
  font-weight: bold;
  text-align: center;
  font-family: 'Montserrat';

  font-size: 20px;
  color: white;
  font-style: normal;
  background: #7F00FF;
}

.regButton>a {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: white;
  margin-top: 10px;
}

.check {
  margin-left: 15px;
  flex-direction: row;
  width: 40px;
  height: 40px;
  background: black;
  background-color: black;
}


.area {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.areaDiv1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.areaDiv1>h1 {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  text-align: start;
  font-size: 40px;
  color: rgba(179, 179, 179, 1);
}

.obj {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}

.areaDiv {
  height: 300px;
  width: 500px;
  align-content: stretch;
  font-family: 'Montserrat';
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 190px;
}

.areaDiv>h2 {
  margin: 0px;
  width: 100%;
  height: 30px;
  font-family: 'Montserrat';
  font-size: 30px;
  color: rgba(179, 179, 179, 1);
}

.areaDiv>ul {
  width: 100%;
  height: 100%;
  padding: 10px;
  list-style-type: none;
  color: rgba(179, 179, 179, 1);

}

.areaDiv>ul>li {
  padding: 10px;
  font-size: 25px;
}

.areaPhoto {
  height: 300px;
  width: 300px;
  ;
}

.card-img-cabinet {
  width: 100%;
  height: 300px;
  position: relative;
  border-radius: 10%;
}

.card-img::after {
  width: 100%;
  height: 300px;


}

.card {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  flex-direction: column;
  display: flex;
  background: no-repeat rgba(34, 34, 34, 1);
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 16%;
}

.registerCard {
  width: 500px;
  display: flex;
}

.create-form {
  width: 500px;

}

.registration-card-input {
  width: 442px;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 20px;
  margin-top: 30px;
  color: rgba(179, 179, 179, 1);
  background: black;
}

.table-card {
  width: 442px;
  height: 444px;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.solo-card {
  width: 450px;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}

.cardButton {
  margin-left: 50px;
  margin-top: 10px;
  border-radius: 10px;
  width: 150px;
  height: 60px;
  font-weight: bold;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 20px;
  color: white;
  font-style: normal;
  background: #7F00FF;
}

.cardButton>a {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  font-style: normal;
  color: white;
}

.solo-card>p {
  hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  word-break: break-all;
  margin: 10px;
  color: rgba(179, 179, 179, 1);
}


.card-img {
  width: 350px;
  height: 235px;
  float: inline-start;
  margin: 0 0 0 3.5%;
  border-radius: 5%;
}

.trics {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.trics2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.ternar-cabinet-area {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  flex-direction: column;
  display: flex;
  background: no-repeat rgba(34, 34, 34, 1);
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.ternar-cabinet-area>h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  font-size: 30px;
  color: rgba(179, 179, 179, 1);
}

.chat {}

.chat-input {
  width: 400px;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 20px;
  margin-top: 30px;
  color: rgba(179, 179, 179, 1);
  background: black;
}

.chat-butn {
  margin-left: 15px;
  margin-top: 10px;
  border-radius: 10px;
  width: 120px;
  height: 47px;
  font-weight: bold;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 20px;
  color: white;
  font-style: normal;
  background: #7F00FF;
}

.chat-tbl {

  color: black;
  font-family: 'Montserrat';
  background: linear-gradient(to right, rgba(255, 184, 0, 1), rgba(208, 116, 94, 1), rgba(191, 92, 128, 1), rgba(127, 0, 255, 1));
  border-radius: 1%;
}

.chat-tbl>p {
  margin: 10px 0px 10px 10px;
  font-family: 'Montserrat';
  font-size: 20px;
}

.response-painter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}
